@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 20px 0;
}

button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}
